.app-wrapper {
  width: 1200px;
  margin: 0 auto;
  display: grid;

  grid-template-areas: "h h" "a m";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  /*grid-gap: 10px;*/


}

.header {
  grid-area: h;
  background-color: green;
}

.header img {
  width: 50px;
}

.aside {
  grid-area: a;
  background-color: green;
}

.main {
  grid-area: m;
  display: grid;
  gap: 20px;
}

.main-img {
  height: 300px;
  background-image: url("https://thumbs.dreamstime.com/z/glass-white-wine-cheese-board-grapes-figs-strawberries-honey-bread-sticks-rustic-wooden-background-top-view-horizontal-69619080.jpg");
}

.main-header {
  display: flex;
  gap: 20px;
}

.avatar {
  height: 150px;
  width: 150px;
}
